@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    font-family: 'poppins', sans-serif;
} */
 h1 {

 }
 p {
    font-family: "Roboto", sans-serif;
    color: #64676c;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}
@media only screen and (max-width: 1023px){
    .main-sidebar {
        display: none;
    }
    .page-right {
        padding-left: 0px;
    }
}
.main-sidebar {
    height: 100vh !important;
}
.sidebar {
    /* background: linear-gradient(90deg, rgba(236,191,28,1) 35%, rgba(80,135,148,1) 100%); */
    /* background-color: #ECBF1C; */
    background-color: #FFAC00;
    background-color: #edc554;
    padding-bottom: 50px;
    width: 250px;
    position: fixed;
    z-index: 1;
}
.brand-link {
    text-decoration: none !important;
    color: black;
    font-size: 25px;
    font-weight: 600;
    padding-left: 50px;
    margin-top: 50px;
}
.sidebar-brand {
    padding: 10px 0px;
    border-bottom: 1px solid #4b545c;
    height: 120px;
}
.sidebar-brand a:hover {
    color: black;
}

.nav-sidebar {
    padding: 0px 8px;
}
.nav-link {
    display: flex;
    align-items: baseline;
    color: black;
    position: relative;
    line-height: 1.0;
    padding-top: 25px;
}
.nav-item {
    margin-bottom: 5px;
}
.nav-item p {
    color: black;
}
.nav-text {
    left: 50px;
    position: absolute;
}
.nav-item a:hover {
    background-color: rgba(255, 255, 255, .6);
    color: black;
    box-shadow: none;
}
.nav-pills .nav-link.active{
    background-color: rgba(255, 255, 255, .6);
    color: black;
    box-shadow: none;
}
.nav-pills

/* NavBar mobile view */
@media (min-width:1024px) {
    .navbar-toggler {
        display: block;
    }
}
@media (min-width:1023px) {
    .navbar-mobile {
        display: none;
    }
}
.top-nav {
    /* background-color: rgba(49, 49, 49, 1); */
    /* background-color: #f74f22; */
    /* background-color: #f76701; */
    background-color: #edc554;
    height: 120px;
    width: 100%;
}
.top-nav h4 {
    /* color: #f74f22; */
    color: black;
    text-align: center;
    padding-top: 20px;
    font-family: "Sarabun", sans-serif;
    font-size: 35px;
    display: block;
    color: #16161a;
    font-weight: 700;
}
@media only screen and (min-width: 1024px){
    .page-right {
        width: 100%;
        padding-left: 250px;
    }
}
.banner {
    background-image: url("../img/bg.jpg");
    height: 550px;
    max-width: 100%;
    background-attachment: fixed;
}
.banner h3 {
    text-align: center;
    font-weight: 700;
    padding-top: 50px;
}
/* Editorial Board page */
.editorial_banner {
    /* background-image: url("../img/editorial_banner.jpg");
    height: 450px;
    max-width: auto; */

}
.card_head {
    display: flex;
    flex-direction: column;
}
.editors-card_body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
}
.card-title {
    font-size: 16px;
    font-weight: 500;
}
.member-name{
    display: contents;
}
.editors-card {
    transition: background-color 0.3s, border 0.3s;
    border: 2px solid whitesmoke;
    cursor: pointer;
    border-radius: 10px;
    width: 90%;
}

.editors-card:hover {
    border: 2px solid blue;
    background-color: #f1f1f1;
}

.editors-card.active:before, .editors-card:hover:before {
    transform: scaleX(1.03) scaleY(1.13);
    transition: transform 0.3s; /* Only transition transform */
}
.text-starting {
    color: #f74f22;
}
.home-about-heading {
    margin: 50px 0px 17px 0px;
}
.home-about-heading span{
    font-family: "Sarabun", sans-serif;
    color: #16161a;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2px;
}
.home-about-heading h1 {
    font-family: "Sarabun", sans-serif;
    color: #16161a;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    padding: 0px 30px;
}
.home-about-heading h2 {
    font-family: "Sarabun", sans-serif;
    font-size: 35px;
    display: block;
    color: #16161a;
    font-weight: 700;
    margin-bottom: 17px;
    line-height: 1.3;
    padding: 0px 30px;
}
.home-about-content p {
    padding: 0px 30px;
    font-size: 15px;
    color: #64676c;
    line-height: 30px;
    margin-bottom: 36px;
    padding-right: 50px;
}
/* work types card */
.work-types-section {
    padding: 0px 40px;
    margin-bottom: 50px;
}
.work-types-section h2 {
    margin-bottom: 35px;
}
.work-types-column {
    padding: 0px 10px;
}
.work-types-card {
    width: 16rem;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.work-types-card .card-title, .card-text {
    text-align: center;
}